<p> Welcome <%= current_user.username %>
<h1> Your Courses </h1>

<% current_user.courses.each do |course| %>
  <div>
    <h2><font color=red><%= course.course_name %></font><p></h2>
      <h4>Instructor: <%= course.course_instructor %></h4>
        <h4>Course Credits: <%= course.course_credits %></h4><br>
          <%# <h4><%= course.user_id %>

  </div>
<% end %>