<h1> Courses by: <%= current_user.username %> </h1>

<% if flash[:message] %>
  <strong><font color=red><%= flash[:message] %></strong></font>
<% end %>

<% current_user.courses.each do |c| %>
  <div>
    <h2><font color=blue><%= c.course_name %></font><p></h2>
      <h4>Instructor: <%= c.course_instructor %></h4>
        <h4>Course Credits: <%= c.course_credits %></h4><br>
          <%# <h4><%= course.user_id %>
            <form method="post" action="/courses/<%= c.id %>/delete">
              <input id="hidden" type="hidden" name="_method" value="DELETE">
              <input class="btn btn-primary" type="submit" value="Withdraw from <%= c.course_name %>">
            </form>

  </div>
<% end %>

